<link rel="import" href="../../bower_components/app-storage/app-indexeddb-mirror/app-indexeddb-mirror.html">

<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<link rel="import" href="../../bower_components/paper-material/paper-material.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../../bower_components/app-layout/app-grid/app-grid-style.html">

<link rel="import" href="../profiles/bioan-profile-card.html">

<link rel="import" href="../../bower_components/paper-styles/shadow.html">
<link rel="import" href="../scripts/bioan-state.html">
<link rel="import" href="../fragment-mixin.html">
<link rel="import" href="../bioan-colors.html">

<dom-module id="bioan-home">
    <template>
        <style include="app-grid-style bioan-colors">
            :host {
                display: block;
                font-size: 24px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }

            header {
                --background: cornflowerblue;
                text-align: center;
            }

            .zigzagged-bottom {
                background-color: var(--background);
                position: relative;
                padding-bottom: 1em;
            }

            /* Adds fancy separator */
            .zigzagged-bottom:after {
                content: '';
                pointer-events: none;
                position: absolute;
                left: 0; right: 0;
                z-index: 10;
                height: 10px;
                display: block;
                background-size: 10px 100%;
                top: 100%;
                background-image: linear-gradient(135deg, var(--background) 25%, transparent 25%),
		            linear-gradient(225deg, var(--background) 25%, transparent 25%);
                background-position-x: 50%;
            }

            div.section-head {
                margin: 1em 0 0;
                background-color: var(--default-color-secondary);
                color: var(--default-color-secondary-invert);
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                padding: 0 .8em;
            }

            div.section-head > * {
                margin: 0; padding: 0;
            }
        
            section#updates-grid #updates-grid-container {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
            }

            section#updates-grid dom-repeat {
                display: none;
            }

            section#updates-grid #loadingMessage {
                background: aliceblue;
            }

            paper-material.featured-character {
                margin: 4px;
                width: calc((100% / 5) - 8px);
                box-sizing: border-box;
            }

            paper-material.featured-character iron-image {
                width: 100%;
                height: 140px;
            }

            paper-material.featured-character h3 {
                margin: 4px 0;
                padding: 0;
                text-align: center;
                font-size: 20px;
            }
        
        
        </style>

        <main>
            <section id="updates-grid">
                <div class="section-head">
                    <h3>Featured Characters</h3>
                </div>

                <div id="updates-grid-container">
                    <iron-ajax url="https://randomuser.me/api/"
                        auto
                        params = "[[_ajaxParams()]]"
                        handle-as="json"
                        loading="{{updatesLoading}}"
                        last-response="{{_testData}}"
                        on-response="_parseProfileData"></iron-ajax>
                    <app-indexeddb-mirror
                        key="cats"
                        data="{{profilesLive}}"
                        persisted-data="{{profileDataPersist}}"></app-indexeddb-mirror>
                    <dom-repeat hidden$="[[updatesLoading]]" items="[[profileDataPersist]]" as="profile">
                        <template>
                            <paper-material class="featured-character" elevation="2" animated-shadow="false">
                              <iron-image src="[[profile.picture]]" sizing="cover"></iron-image>

                              <h3>[[profile.name]]</h3>
                            </paper-material>
                        </template>
                    </dom-repeat>
                </div>

                <div hidden$="[[!updatesLoading]]" id="loadingMessage">
                    Recent character updates are loading..
                </div>
            </section>
        </main>

        <!-- bioan-updates-list.html -->
    </template>
    <script>
        class BioanHome extends Bioan.Fragment(Polymer.Element) {
            static get is() { return 'bioan-home'; }

            static get properties() {
                return {
                    signed_in: {
                        type: Boolean,
                        statePath: 'user.signed_in'
                    },

                    displayName: {
                        type: String,
                        statePath: 'user.displayName'
                    },

                    uid: {
                        type: String,
                        statePath: 'user.uid'
                    },

                    recentUpdates: {
                        type: Array
                    }
                }
            }

            _ajaxParams() {
                return {
                    inc: "picture, name",
                    results: 10
                }
            }

            _parseProfileData() {
                console.log(this._testData);
                let condensed = this._testData.results.map(item => {
                    return {
                        name: item.name.first + " " + item.name.last,
                        picture: item.picture.large
                    };
                });

                this.profilesLive = condensed;
            }

            static get actions() {
                return Object.assign({}, super.actions || {}, {
                    hello() {
                        return { type: 'HELLO_TEST' }
                    }
                });
            }

            constructor() {
                super();
                // this._setupProfiles();
            }

            _formatTimestamp(time) {
                var date = new Date(time);
                return date.toLocaleDateString("en-US", {
                    year: "numeric",
                    month: "short",
                    day: "numeric",
                    hour: "2-digit",
                    minute: "2-digit"
                });
            }

            _output(item) {
                return JSON.stringify(item);
            }
            
            connectedCallback() {
                super.connectedCallback();
                this.dispatch('appTitle', "Bioan: Home");
            }

            ready() {
                super.ready();
                this.dispatchEvent(new CustomEvent('ready', { bubbles: true, composed: true }));
            }

            _getRandNum(min, max) {
                return Math.floor(Math.random() * (max - min + 1)) + min;
            }
        }

        customElements.define(BioanHome.is, BioanHome)
    </script>
</dom-module>
