<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/paper-styles/shadow.html">
<link rel="import" href="../../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">

<link rel="import" href="../fragment-mixin.html">
<link rel="import" href="../bioan-iconset-svg.html">

<dom-module id="bioan-profile">
    <template>
        <style>
            :host {
                display: block;
                position: relative;
            }

            paper-tab:hover {
                background-color: lightblue;
                @apply --shadow-elevation-4dp;
            }

            paper-tab.iron-selected {
                background-color: lightcyan;
                font-weight: 600;
            }

            pre {
                white-space: pre-wrap;
            }

            paper-fab#mode {
                position: fixed;
                bottom: 1em;
                right: 1em;
                color: var(--bioan-color-primary-invert);
                --paper-fab-background: var(--bioan-color-primary);
            }
        </style>

        <div id="hidden-page-data">
            <app-location route="{{route}}"></app-location>
            <app-route route="{{route}}" pattern="/bio/:profileID" data="{{_url.profile}}"></app-route>
        </div>

        <iron-pages selected="[[mode]]" attr-for-selected="data-view">
            <section data-view="view">
                <h1>Viewer!</h1>
            </section>
            
            <section data-view="edit">
                <h1>Editor!</h1>
            </section>
        </iron-pages>

        <paper-fab id="mode" icon="bioan:edit" on-tap="switchMode"></paper-fab>
        
    </template>
    <script>
        class BioanProfile extends Bioan.Fragment(Polymer.Element) {
            static get is() { return "bioan-profile" }

            static get properties() {
                return { 
                    // Defines which part of the profile the user is on, editing or whatnot
                    mode: {
                        type: String,
                        value: 'view'
                    },

                    pageTitle: {
                        type: String,
                        statePath: 'page.pageTitle'
                    }
                }
            }

            constructor() {
                super();
            }

            ready() {
                super.ready();
                this.dispatchEvent(new CustomEvent('loaded'));
            }

            _viewChanged(v) {
                if(!v) return;
                console.log(v);
            }

            switchMode() {
                switch(this.mode) {
                    case 'view':
                        this.mode = 'edit';
                        return;

                    case 'edit':
                        this.mode = 'view';
                        return;
                }
            }
        }
        
        customElements.define(BioanProfile.is, BioanProfile);



        /**
         * TODO For kink editing stuff
         * 
         * 1. Select one or many kinks
         * 2. Have a FAB button appear when something is selected
         * 3. Press FAB, this flies out a set of options for quick-setting the giving and receiving preferences
         * 3.a. Choose giving, receiving, or both in flyout
         * 3.b. Then tap a preference to save it to all selected kinks
         * 
         * 4. ???
         * 5. Rejoice
         */
    </script>
</dom-module>
