<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/marked-element/marked-element.html">

<dom-module id="bioan-updater">
    <template>
        <style>
            form {
                width: 90vw;
                margin: 0 auto;
            }

            div.update-title {
                font-size: 20px;
                color: blueviolet;
            }

            div.update-subtitle {
                font-size: 12px;
                color: darkblue;
            }

            div.update-body {
                padding: 0;
                margin: 0;
                padding-left: 1em;
                border-left: 6px solid lightblue;
                box-sizing: border-box;
            }
        </style>

        <h1>Update Editor</h1>

        <form>
            <paper-input value="{{title}}" placeholder="Post Title"></paper-input>
            <paper-textarea value="{{md}}" rows="10" placeholder="Update markdown.."></paper-textarea>
        
            <paper-button on-tap="doSubmit">Submit</paper-button>
            <hr />

            <h3>Rendered Output:</h3>
            <div class="update-item">
                <div class="update-title">[[title]]</div>
                <div class="update-subtitle">Posted by [[user.uid]] at [[_formatTimestamp()]]</div>
                <div class="update-body">
                    <div><p></p></div>
                    <marked-element markdown="[[md]]"></marked-element>
                </div>
            </div>
        </form>
    </template>
    <script>
        class BioanUpdater extends Polymer.Element {
            static get is() { return 'bioan-updater'; }

            _formatTimestamp(time) {
                if(!time) time = Date.now();
                var date = new Date(time);
                return date.toLocaleDateString("en-US", {
                    year: "numeric",
                    month: "short",
                    day: "numeric",
                    hour: "2-digit",
                    minute: "2-digit"
                });
            }

            doSubmit() {
                var update = {
                    author: this.user.uid,
                    content: this.md,
                    timestamp: Date.now(),
                    title: this.title
                };

                console.log(update);
                // firebase.database().ref("updates").push(update);
            }
        }

        customElements.define(BioanUpdater.is, BioanUpdater)
    </script>
</dom-module>
