<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">

<dom-module id="bioan-profile-editor">
    <template>
        <style>
            :host {
                display: block;
            }
        </style>
        
        <app-location route="{{route}}"></app-location>
        <app-route route="{{route}}" pattern="/bio-editor/:profileID" data="{{pid}}" tail="{{tail}}"></app-route>

        <h1>Profile Editor</h1>

        <p>You are attempting to edit profile $<b>[[currentProfile]]</b>.</p>
    </template>

    <script>
        class BioanProfileEditor extends Polymer.Element {

            static get is() { return 'bioan-profile-editor' }

            static get properties() {
                return {
                    pid: {
                        type: Object,
                        observer: "_pidChanged"
                    },

                    currentProfile: {
                        type: String,
                        notify: true
                    }
                }
            }

            ready() {
                super.ready();

            }

            _pidChanged(newP) {
                this.currentProfile = newP.profileID;
            }
        }

        customElements.define(BioanProfileEditor.is, BioanProfileEditor);
    </script>
</dom-module>
