<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">


<dom-module id="bioan-profile-card">
    <template>
        <style>
            :host {
                display: block;
                width: 100%;
            }

            .spacer {
                flex-grow: 1;
            }

            paper-card {
                display: block;
            }

            paper-card .card-actions {
                font-size: 14px;
                display: flex;
                flex-direction: row;
            }

            paper-icon-button#dbtn:hover {
                color: rgb(225, 0, 0);
            }
        </style>

        <!-- TODO: iron-ajax to fetch profile data -->
        <paper-card class="profile-card" heading="[[profileMeta.displayName]]" image="" elevation="1" animated-shadow="false">
            <div class="card-content">
                [[profileMeta.summary]]
            </div>
            
            <div class="card-actions">
                <paper-icon-button disabled icon="bioan:delete" on-tap="delete" id="dbtn">Delete</paper-icon-button>                
                <div class="spacer"></div>
                <paper-icon-button disabled icon="bioan:edit" on-tap="edit">Edit</paper-icon-button>
            </div>
        </paper-card>
    </template>
    <script>
        class BioanProfileCard extends Polymer.Element {
            static get is() { return 'bioan-profile-card'; }

            static get properties() {
                return {
                    profileId: String
                }
            }

            ready() {
                super.ready();
            }

            edit() {
                var edit = confirm("Edit profile?");
                if(!edit) return;

                window.history.pushState({}, null, "/bio-editor/" + this.profileId);
                window.dispatchEvent(new CustomEvent('location-changed'));
            }

            delete() {
                var del = confirm("Delete?");
                if(!del) return;

                // TODO: Deletion code
                alert("Not yet implemented.");
            }
        }

        customElements.define(BioanProfileCard.is, BioanProfileCard)
    </script>
</dom-module>
