
<link rel="import" href="../bower_components/polymer/polymer-element.html">

<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">

<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-collapse/iron-collapse.html">

<link rel="import" href="../bower_components/font-roboto/roboto.html">

<link rel="import" href="redux-store.html">
<link rel="import" href="bioan-colors.html">

<dom-module id="bioan-drawer">
    <template>
        <style indlude="bioan-colors">
            :host {
                display: block;
                position: relative;
                    z-index: 900;
            }

            a {
                color: var(--account-color-link-primary, var(--default-color-tertiary));
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }

            app-drawer {
                

                --app-drawer-content-container: {
                    
                    background-color: white;
                    color: black;
                    font-family: sans-serif;

                    display: flex;
                    flex-direction: column;
                }; 
            }

            .section-header {
                background-color: var(--account-color-secondary, var(--default-color-secondary));
                color: var(--account-color-secondary-invert, var(--default-color-secondary-invert));
                padding: 0.1em 0 0.1em 0.4em;
                font-weight: bold;
                font-size: 20px;
                display: flex;
                align-content: center;
            }

            .section-header span {
                flex-grow: 1;
                display: inline-block;
                align-self: center;
            }

            .section-header paper-icon-button {
                color: white;
            }

            .section-footer {
                padding: 0.3em 0.4em;
                font-size: 14px;
                text-align: right;
            }

            #scroll-container {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                overflow-x: hidden;
                overflow-y: auto;
            }

            #scroll-container > section {
                margin-bottom: 1em;
            }

            app-toolbar {
                background-color: var(--account-color-primary, var(--default-color-primary));
                color: var(--account-color-secondary, var(--default-color-primary-invert));
                font-family: "Roboto", sans-serif;
            }

            section#links {
                background-color: rgba(0, 0, 0, 0.8);
                display: flex;
                justify-content: center;
                padding: 0.4em 0;
                flex-wrap: wrap;
            }

            section#links > * {
                display: inline-block;
                margin: 0.2em 0.4em;
            }

            div#profile-grid-container {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
            }

            div.profile-card {
                display: inline-flex;
                width: calc((100% / 3) - 2px);
                box-sizing: border-box;
                margin: 1px;
                min-height: 4.5em;
                background: transparent;
                border: 1px solid rgba(0, 0, 0, 0.3);

                justify-content: center;
                align-items: center;
            }


            section#quick-links { }

            nav.actions > div {
                padding: .4em;
                font-size: 1.2em;
                margin-bottom: 2px;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
            }

            nav.actions > div > span {
                flex-grow: 1;
            }

            nav div.separator {
                height: 0px;
                border-top: 1px dotted rgba(250, 250, 250, 0.3);
                margin: 3px 25%;
            }

            div#user-actions {
                margin-left: .2em;
                
            }


        </style>

        <app-drawer swipe-open id="drawer">
            
            <app-toolbar>
                <div style="flex-grow: 1">[[displayName]]</div>
                <div hidden$="[[!logged]]">
                    <paper-icon-button icon="bioan:lock" on-tap="signOut"></paper-icon-button>
                </div>
            </app-toolbar>

            <div id="scroll-container">
                <section id="guest-actions" hidden$="[[logged]]">
                    <nav class="actions">
                        <div>
                            <span><a href="/a/settings">Account Settings</a></span>
                            <iron-icon icon="bioan:account"></iron-icon>
                        </div>
                    </nav>
                </section>

                <section id="quick-links" hidden$="[[!logged]]">
                    <nav class="actions">
                        <div><a href="/home">Home</a></div>
                        
                        <div>Message Center</div>
                </section>

                <section id="profiles" hidden$="[[!logged]]">
                    <div class="section-header">
                        <span>Profiles</span>
                        <paper-icon-button icon="bioan:arrow_down" data-toggle="profilesCollapse" on-tap="toggleCollapse"></paper-icon-button>
                    </div>

                    <iron-collapse id="profilesCollapse" opened>
                        <!-- TODO: Read favorited profiles and load them here -->
                        <div id="profile-grid-container">
                            <dom-repeat items="[[favedProfiles]]" as="profile">
                                <template>
                                    <div class="profile-card">
                                        [[profile.key]]
                                    </div>
                                </template>
                            </dom-repeat>
                        </div>
                    </iron-collapse>

                    <div class="section-footer">
                        <a href="/my/profiles">View all &raquo;</a>
                    </div>
                </section>
            </div>

            <section id="links">
                <a>&middot;</a>
                <a>&middot;</a>
                <a>&middot;</a>
                <a>&middot;</a>
                <a>&middot;</a>
            </section>
        </app-drawer>
    </template>
    <script>
        class BioanDrawer extends BioanState(Polymer.Element) {
            static get is() { return 'bioan-drawer'; }

            static get actions() {
                return {
                    signout() { return { type: 'SIGN_OUT' }}
                }
            }
            static get properties() {
                return {
                    displayName: {
                        type: String,
                        statePath: 'user.displayName'
                    },

                    logged: {
                        type: Boolean,
                        statePath: 'user.signed_in'
                    },

                    favedProfiles: {
                        type: Array,
                        value: [
                            { key: "1" },
                            { key: "2" },
                            { key: "3" },
                            { key: "4" },
                            { key: "5" },
                            { key: "6" },
                            { key: "7" },
                            { key: "8" },
                            { key: "9" }
                        ]
                    }
                }
            }

            constructor() {
                super();
            }

            signOut() {
                this.dispatch('signout');
            }

            toggle() {
                this.$.drawer.toggle();
            }

            toggleCollapse(e) {
                var toggleTarget = e.target.dataset.toggle;
                var toggleEl = document.querySelector("iron-collapse#" + toggleTarget);
                
                console.log(toggleEl);
                console.log(toggleEl.opened);
                // toggleEl.toggle();

                var toggleOpen = toggleEl.opened;
                if(toggleOpen)
                    toggleTarget.icon = "bioan:arrow_up";
                else
                    toggleTarget.icon = "bioan:arrow_down";
                
            }
        }

        customElements.define(BioanDrawer.is, BioanDrawer);
    </script>
</dom-module>
