
<link rel="import" href="../bower_components/polymer/lib/elements/custom-style.html">

<dom-module id="bioan-colors">
    <template>
        <custom-style>
            <style is="custom-style">
                :root {
                    --default-color-primary: #6f1fce;
                    --default-color-primary-invert: white;
                    --default-color-secondary: #2163cc;
                    --default-color-secondary-invert: white;
                    --default-color-tertiary: #ffa913;
                    --default-color-tertiary-invert: black; }

            </style>
        </custom-style>
    </template>
</dom-module>
