$color-primary: rgb(111, 31, 206);
$color-secondary: rgb(33, 99, 204);
$color-tertiary: rgb(255, 169, 19);

$screen-sm: 600px;
$screen-md: 800px;
$screen-lg: 1000px;
$screen-xl: 1200px;

html {
    --default-color-primary: #{$color-primary};
    --default-color-primary-invert: white;

    --default-color-secondary: #{$color-secondary};
    --default-color-secondary-invert: white;

    --default-color-tertiary: #{$color-tertiary};
    --default-color-tertiary-invert: black;
}
