<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="./scripts/bioan-state.html">
<link rel="import" href="../bower_components/lazy-imports/lazy-imports-mixin.html">
<!--<link rel="import" href="./loader.html" async>-->
<link rel="import" href="./bioan-colors.html" async>

<!-- App skeleton -->


<!-- Routing -->
<!-- TODO: Move into bioan-page-loader -->



<!-- Extras: Loaded after first paint -->
<!--<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">-->
<!--<link rel="import" href="./account/bioan-account-panel.html">-->
<dom-module id="bioan-loader">
    <template>
        <style>
            :host {
                position: relative;
                display: flex;
                justify-content: space-between;
                width: var(--loader-width, 5rem);
                height: var(--loader-height, 5rem);
                transition: all 300ms ease-in-out 0s;
                z-index: 1; 
            }
  
            :host .rect {
                width: 15%;
                height: 100%;
                background-color: var(--loader-ink, aquamarine);
                animation: rectangle-bounce 1.5s infinite ease-in-out; 
            }
            
            .rect:nth-of-type(2) { animation-delay: -1.4s; }
            .rect:nth-of-type(3) { animation-delay: -1.3s; }
            .rect:nth-of-type(4) { animation-delay: -1.2s; }
            .rect:nth-of-type(5) { animation-delay: -1.1s; }

            @keyframes rectangle-bounce {
                0%, 40%, 100% { transform: scaleY(0.4); }
                20% { transform: scaleY(1); } 
            }
        </style>
        
        <div class="rect"></div>
        <div class="rect"></div>
        <div class="rect"></div>
        <div class="rect"></div>
        <div class="rect"></div>
    </template>
    <script>
        class BioanLoader extends Polymer.Element {
            static get is() { return "bioan-loader"; }
        }

        window.customElements.define(BioanLoader.is, BioanLoader);
    </script>
</dom-module>

<dom-module id="bioan-app">
    <link rel="lazy-import" group="first-paint" href="../bower_components/app-layout/app-header/app-header.html">
    <link rel="lazy-import" group="first-paint" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
    
    <link rel="lazy-import" group="first-paint" href="../bower_components/iron-pages/iron-pages.html">
    <link rel="lazy-import" group="first-paint" href="./scripts/routes.html">
    
    <link rel="lazy-import" group="first-paint" href="../bower_components/paper-icon-button/paper-icon-button.html">
    <link rel="lazy-import" group="first-paint" href="./bioan-iconset-svg.html">
    <link rel="lazy-import" group="first-paint" href="./scripts/socket-io-import.html">
    <template>
        <style include="bioan-colors">
            :host {
                display: block;
            }

            app-header {
                background-color: var(--account-color-primary, var(--default-color-primary, violet));
                color: var(--account-color-primary-invert, var(--default-color-primary-invert));
            }

            app-toolbar {
                display: flex;
                flex-direction: row;
            }
            
            app-toolbar > * {
                align-self: center;
            }

            paper-icon-button + [main-title] {
                margin-left: 20px;
                font: 300 1em sans-serif;
                flex-grow: 1;
                align-items: center;
                display: flex;
            }

            div[page="loading"] {
                position: absolute;
                top: 0; left: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100vw;
                height: 100vh;
                background-color: rgba(255, 255, 255, .8);
            }

            div[page="loading"] > div {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            div[page="loading"] bioan-loader {
                --loader-ink: var(--default-color-secondary);
            }
        </style>

        <app-header>
            <app-toolbar>
                <div style="flex-grow: 1"></div>
                <div main-title>[[pageTitle]]</div>
                <div style="flex-grow: 1"></div>
                <dom-if if="[[presence]]">
                    <template>
                        <div style="display: flex; align-items: center; font-family: sans-serif;">
                            <span style="font-size: .9em">[[displayName]]</span>
                            <paper-icon-button icon="bioan:lock" on-tap="signOut"></paper-icon-button>
                        </div>
                    </template>
                </dom-if>
            </app-toolbar>
        </app-header>

        <main>
            <iron-pages selected="[[currentView]]" attr-for-selected="page">
                <div page="loading">
                    <div inner>
                        <bioan-loader></bioan-loader>

                        <h3>Please wait, loading...</h3>
                        <div>[[statusMessage]]</div>
                    </div>
                </div>
            </iron-pages>
        </main>
    </template>
    
    <script>
        class BioanApp extends Bioan.State(Polymer.LazyImportsMixin(Polymer.Element)) {
            static get is() { return 'bioan-app'; }

            static get actions() {
                return {
                    userChanged(user, roles) {
                        return {
                            type: 'USER_CHANGE',
                            user: user,
                            roles: roles
                        }
                    },

                    signOut() {
                        return { type: 'SIGN_OUT' }
                    },

                    switchView(v) {
                        return {
                            type: 'VIEW_CHANGE_BEGIN',
                            view: v
                        }
                    },

                    viewChangeComplete() {
                        return {
                            type: 'VIEW_CHANGE_COMPLETE'
                        }
                    },

                    routesLoaded() {
                        return { type: 'ROUTES_LOADED' }
                    }
                }
            }

            static get properties() {
                return {
                    pageTitle: {
                        type: String,
                        statePath: 'page.title',
                        observer: "_pageTitleChanged"
                    },

                    page: {
                        type: Object,
                        statePath: 'page',
                        readonly: true
                    },

                    currentView: {
                        type: String,
                        statePath: 'routing.currentView',
                        readonly: true
                    },

                    displayName: {
                        type: String,
                        readOnly: true,
                        statePath: "user.displayName"
                    },

                    presence: {
                        type: Boolean,
                        readOnly: true,
                        statePath: "user.signed_in"
                    },

                    statusMessage: {
                        type: String,
                        value: "Loading..."
                    },

                    loaded: {
                        type: Boolean,
                        statePath: 'route.loaded',
                        readonly: true
                    },

                    fragment: {
                        type: Object
                    }
                }
            }

            constructor() {
                super();

                if(!window.Bioan) window.Bioan = {};

                Polymer.RenderStatus.afterNextRender(this, () => this.afterFirstPaint());
            }

            

            connectedCallback() {
                super.connectedCallback();

                Bioan.app = this;

                this.pages = this.shadowRoot.querySelector("iron-pages");
                this.accountPanel = this.shadowRoot.querySelector("bioan-account-panel");
            }

            afterFirstPaint() {
                this.statusMessage = "Rendering initial route.";

                this.importLazyGroup('first-paint').then(res => {
                    // this._pageLoaded(true);
                    this.statusMessage = "Loading route information.";
                    page.start();
                });
            }

            changeView(view) {
                this.dispatch('switchView', view);

                let elementName = Bioan.routes[view];
                if(!customElements.get(elementName)) {
                    let path = `${this.importPath}views/${elementName}.html`;
                    Polymer.importHref(path, Bioan.app._viewReady, null, false);
                }

                let pages = this.shadowRoot.querySelector('iron-pages');
                let foundRouteHandler = pages.querySelector(elementName);

                // If there isn't a routing element already added to page, add a new one
                if(!foundRouteHandler) {
                    

                    var newElement = document.createElement(elementName);
                    newElement.setAttribute('page', view);
                    newElement.addEventListener('ready', e => {
                        if(this.initialRoute) {
                            delete this.initialRoute;
                            console.log("First route loaded, lazy-loading additional routes now.");
                            this.importLazyGroup('additional-routes');
                        }
                    });

                    pages.appendChild(newElement);

                    
                }    
            }

            _viewReady() {
                Bioan.app.dispatch('viewChangeComplete');
            }

            _pageTitleChanged(n) {
                document.title = n;
            }
        }

        window.customElements.define(BioanApp.is, BioanApp);
    </script>
</dom-module>