
<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="bioan-loader">
    <template>
        <style>
            :host {
                position: relative;
                display: flex;
                justify-content: space-between;
                width: var(--loader-width, 5rem);
                height: var(--loader-height, 5rem);
                transition: all 300ms ease-in-out 0s;
                z-index: 1; 
            }
  
            :host .rect {
                width: 15%;
                height: 100%;
                background-color: var(--loader-ink, aquamarine);
                animation: rectangle-bounce 1.5s infinite ease-in-out; 
            }
            
            .rect:nth-of-type(2) { animation-delay: -1.4s; }
            .rect:nth-of-type(3) { animation-delay: -1.3s; }
            .rect:nth-of-type(4) { animation-delay: -1.2s; }
            .rect:nth-of-type(5) { animation-delay: -1.1s; }

            @keyframes rectangle-bounce {
                0%, 40%, 100% { transform: scaleY(0.4); }
                20% { transform: scaleY(1); } 
            }
        </style>
        
        <div class="rect"></div>
        <div class="rect"></div>
        <div class="rect"></div>
        <div class="rect"></div>
        <div class="rect"></div>
    </template>
    <script>
        class BioanLoader extends Polymer.Element {
            static get is() { return "bioan-loader"; }
        }

        window.customElements.define(BioanLoader.is, BioanLoader);
    </script>
</dom-module>
