<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">

<dom-module id="bioan-account-panel">
    <template>
        <style>
            div#outer {
                display: flex;
                padding: 1em;
                justify-content: center;
                width: 100vw;
            }

            div#inner {
                align-self: center;
                width: 340px;
                height: 340px;
                border-radius: 10%;
                background-color: aliceblue;
            }

            p {
                margin: 0;
                padding: 0;
                margin-bottom: .4em;
            }
        </style>

        <iron-collapse id="panel" opened="{{open}}">
            <div id="outer">
                <div id="inner">
                    <p>Account panel!</p>
                </div>
            </div>
        </iron-collapse>
    </template>

    <script>
        class BioanAccountPanel extends Polymer.Element {
            static get is() { return 'bioan-account-panel'; }

            static get properties() {
                return {
                    open: Boolean
                }
            }

            toggle() {
                this.$.panel.toggle();
            }
        }

        customElements.define(BioanAccountPanel.is, BioanAccountPanel);
    </script>
</dom-module>