
<link rel="import" href="../../bower_components/iron-image/iron-image.html">
<!--<link rel="import" href="bioan-user-element.html">-->

<dom-module id="bioan-account-image">
    <template>
        <style>
            :host {
                display: inline-block;
                width: 48px;
                height: 48px;
                overflow: hidden;
                border-radius: 50%;
            }

            :host[small] {
                width: 24px;
                height: 24px;
            }

            :host[medium] {
                width: 48px;
                height: 48px;
            }

            :host[large] {
                width: 128px;
                height: 128px;
            }
        </style>

        <iron-image preload fade id="profileImage" src="[[profileImageUrl]]"></iron-image>
    </template>

    <script>
        class BioanAccountImage extends Polymer.Element {
            static get is() { return 'bioan-account-image'; }

            static get properties() {
                return {
                    profileImageUrl: {
                        type: String,
                        value: function() { return this._getDefaultUrl(); },
                        computed: "_getProfileImageUrl()"
                    },

                    currentUser: {
                        type: Boolean,
                        value: true
                    }
                }
            }

            _getDefaultUrl() {
                return "/static/media/profile-default.png";
            }

            _getProfileImageUrl() {
                if(this.currentUser) {
                    // console.log(Bioan.user.photoUrl);
                } else {
                }
            }
        }

        customElements.define(BioanAccountImage.is, BioanAccountImage);
    </script>
</dom-module>