<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">

<dom-module id="bioan-account-settings">
    <template>
        <style>
            :host {
                display: block;
            }
        </style>
        
        <app-location route="{{route}}"></app-route>
        <app-route route="{{route}}" pattern="/account/:page" data="{{_page}}" tail="{{_pageTail}}"></app-route>
    </template>
    <script>
        class BioanAccountSettings extends Polymer.Element {
            static get is() { return 'bioan-account-settings' }


        }

        window.customElements.define(BioanAccountSettings.is, BioanAccountSettings);
    </script>
</dom-module>
