<link rel="import" href="redux-script.html">
<link rel="import" href="../../bower_components/polymer-redux/polymer-redux.html">

<script>
    const INITIAL_USER = {
        signed_in: false,
        displayName: "Guest",
        uid: null
    }

    const initialState = {
        user: INITIAL_USER,
        statusMessage: "Loading route data.",
        pageTitle: "Bioan",
        routing: {
            loaded: false,
            currentView: "loading",
            pendingView: ""
        }
    }

    const reducer = (state, action) => {
        if(!state) {
            let newState = initialState;
            return newState;
        }

        switch(action.type) {
            case 'APP_TITLE_CHANGE':
                return Object.assign({}, state, { pageTitle: action.title });

            case 'LOAD_STEP':
                return Object.assign({}, state, { statusMessage: action.status });

            case 'USER_CHANGE':
                let user = Object.assign({}, action.user, { roles: action.roles, signed_in: true });
                return Object.assign({}, state, { user: user });

            case 'SIGN_OUT':
                if(firebase.auth().currentUser) firebase.auth().signOut();
                return Object.assign({}, state, { user: INITIAL_USER });

            case 'VIEW_CHANGE_BEGIN':
                return Object.assign({}, state, { 
                    routing: { 
                        pendingView: action.view,
                        loaded: false 
                    }
                });

            case 'VIEW_CHANGE_COMPLETE':
                let newView = state.pendingView;
                let routing = {
                    currentView: state.routing.pendingView,
                    pendingView: "",
                    loaded: true
                };

                return Object.assign({}, state, { routing: routing })
            default:
                return state;

        }
    }

    const store = Redux.createStore(reducer, initialState, Redux.compose(window.devToolsExtension ? window.devToolsExtension() : f => f));
    Bioan = Object.assign({}, window.Bioan || {}, { State: PolymerRedux(store) });
</script>
