<script src="../../node_modules/page/page.js"></script>
<script type="text/javascript">

    Bioan.routes = {
        home: "bioan-home",
        user: "bioan-user-home",
        user_settings: "bioan-user-settings",
        character: "bioan-profile-view",
        edit_character: "bioan-profile-editor"
    };

    home = (ctx, next) => Bioan.app.changeView("home");

    user = {};
    user.profile = (ctx, next) => {
        console.log("Load user profile for: " + ctx.params.uid);
    }

    user.characters = (ctx, next) => {
        console.log("Load character list for: " + ctx.params.uid);
    }

    user.networks = (ctx, next) => {
        console.log("Load network list for: " + ctx.params.uid);
    }

    page('/', home);
    page('/u/:uid', user.profile);
    page('/u/:uid/characters', user.characters);
    page('/u/:uid/networks', user.networks);

    // page.start();

</script>