<script src="../../node_modules/socket.io-client/dist/socket.io.js"></script>

<script>
      // Socket.io is exposed as the `io` global.
      var socket = io('http://localhost:3030', {transports: ['websocket']});
      // feathers-client is exposed as the `feathers` global.
      
      socket.on('hello', data => {
        console.log("Server said hello!");
      });
      
    </script>